<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1" (click)="changeTab('tab1')">
      <ion-icon  [ngClass]="{'color': tab === 'tab1', 'offColor':tab !== 'tab1' }"  md="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="changeTab('tab2')">
      <ion-icon  [ngClass]="{'color': tab === 'tab2', 'offColor':tab !== 'tab2' }"  name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="changeTab('tab3')" >
      <ion-icon [ngClass]="{'color': tab === 'tab3', 'offColor':tab !== 'tab3' }"  name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" (click)="changeTab('tab4')">
      <ion-icon  [ngClass]="{'color': tab === 'tab4', 'offColor':tab !== 'tab4' }"  name="cog"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
