<ion-header >
  <ion-toolbar color="primary">
    <ion-icon name="apps" style="color:#A66FE5; width: 24px; height: 24px;float: left;margin-left: 4%;"></ion-icon>
    <ion-title style="color: black;">
      EXPLORE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <div *ngFor="let item of array; let index i">
    <ion-item-sliding id="item100" style="width: 90%;border-radius: 11px;margin-left: 5%;max-height: 9%; margin-top: 2%;" >
      <ion-item href="#" color="primary">
        <ion-icon style="color:black; margin-left: -2%;margin-right: 3%;" name="bookmark" ></ion-icon>
        <ion-label>
          <h2 style="color:black">{{item.name}}</h2>
          <p style="color: gray;font-size: 70%;">{{item.data}}</p>
        </ion-label>
        <ion-note slot="end">
          <ion-icon style="color: black; width: 24px; height: 24px;" name="ellipsis-horizontal"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="success" (click)="archive(i)">
          <ion-icon slot="icon-only" style="color: #3D7E41;" name="archive"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(i)">
          <ion-icon slot="icon-only" style="color: #96141E;" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>
